
<div class="center">
  <h1>My Basket</h1>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="center panel panel-title panel-primary panel-heading">My Basket</div>

  <div class="panel-body">
    <p>Delivery is next week</p>
  </div>


<table class="table table-striped table-hover">
  <tr>
    <th class="center">Meal Item</th>
    <th class="center">Meal URL</th>
    <th class="center">Meal Name</th>
    <th class="center">Quantity</th>
    <th class="center">Unit Price</th>

  </tr>

  <% @line_items.each do |item| %>
    <tr>


      <td class="center"><%= item.meal_id %></td>
      <td class="center"><%= image_tag(item.image_url,  size: "100x100") %></td>
      <td class="center"><%= item.name %></td>
      <td class="center"><%= item.quantity %></td>
      <td class="center"><%= number_to_currency(item.unit_price(item.quantity)) %></td> 
    </tr>
  <% end %>


  <tr class="total_line">
    <td colspan="4">Total</td>
    <td class="total_cell">
       <%= number_to_currency(255) %>
    </td>
  </tr>

</table>
</div>

<br>

<%= link_to 'New Line item', new_line_item_path %>
